html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    font-family: 'montserrat' sans-serif;
    background-image: url(background-image.jpg);
    background-size: cover;
    height: 100%;
}
h1{
    padding-bottom: 100px;
}

.faded {
    color: rgba(255, 255, 255, 0.8); 
}

.btn{
    border-radius: 200px;
}

.btn-lg{
    padding: 15px 15px 15px 15px;
}

.btn-primary{
    margin-right: 10px;
}

.btn-danger{
    margin-left: 10px;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: blue;
    border-color: blue;
}

.btn-danger:hover{
    cursor: pointer;
    background-color: orangered;
    border-color: orangered;
}

.container:hover{
    transform: scale(1.01);
    animation: forwards;
}